*{
margin:0px;
padding:0px;
}
body{

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
background-color:whitesmoke;
}

.container{
border:1px solid black;
width:90%;
border-radius:10px;
margin:0 auto;
margin-top:5%;
padding-bottom:1.5%;
box-shadow: rgba(0, 0, 0, 100) 0px 5px 15px;
background-color:white;
}
                                    /* SEARH BAR */

.search-box{
text-align:center;
margin-top:2%;
}
.search-box__input{
border:none;
border-bottom:1px solid black;
background-color:transparency;
width:40%;
padding:5px;
font-size:20px;
font-family: "Orbitron", sans-serif;
}
.search-box__input:hover,.search-box__input:focus{
border:none;
outline:none;
border-bottom:1px solid black;
}
.search-box__btn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 1%;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.search-box__btn:hover{
opacity:0.8;
transition:1s ease;
transform:translateY(2px);
}
.box-place{
display:flex;
justify-content:center;
align-items:center;
gap:1%;
margin-top:1%;
}

                                      /* CONTENT BAR */
.box-two{
display:flex;
justify-content:space-between;
margin:4%;
margin-top:5%;
}
.details-extra{
display:flex;
gap:10px;
}
.details-one__temp{
font-size:50px;
margin:1%;
}
.details-one__report{
font-size:25px;
margin:1.5%;
}
.details-extra{
margin-top:1%;
}
.details-three__pressure,.details-three__feel,.details-three__sea,.details-three__ground,h4{
padding:2px;
}
.details-two{
width:40%;
}
#sunny,#cloudy,#wind2,#thunder,#rain{
width:50%;
margin-left:15%;
display:none;
}
#snow{
width:50%;
margin-left:5%;
display:none;
}
.extra-content{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
}
                                      /* MEDIA QUERY */


@media screen and (max-width:600px){

.box-two{
display:block;
text-align:center;
}
.details-extra{
display:none;
}
.extra-content{
display:none;
}
.details-two{
margin:0 auto;
margin-top:2%;
}
.details-one__temp{
font-size:30px;
margin:1%;
}
.details-one__report{
font-size:18px;
margin:1.5%;
}
}




















